
<form [formGroup]="service.payment" (submit)="onSubmit()">   
    <input type="hidden"  name="merchant_id" value="1212553">    <!-- Replace your Merchant ID -->
    <input type="hidden" name="return_url" value="/supplier/dashboad">
    <input type="hidden" name="cancel_url" value="/Customer/dashboad">
    <input type="hidden" name="notify_url" value="/test">  
    <br><br>Item Details<br>
    <input type="hidden" name="order_id" value="ItemNo12345">
    <input type="hidden" name="items" value="Door bell wireless"><br>
    <input type="hidden" name="currency" value="LKR">
    <input type="hidden" name="amount" value="1000">  
    <br><br>Customer Details<br>
    <input type="hidden" name="first_name" value="Saman">
    <input type="hidden" name="last_name" value="Perera"><br>
    <input type="hidden" name="email" value="samanp@gmail.com">
    <input type="hidden" name="phone" value="0771234567"><br>
    <input type="hidden" name="address" value="No.1, Galle Road">
    <input type="hidden" name="city" value="Colombo">
    <input type="hiddn" name="country" value="Sri Lanka"><br><br> 
    <input type="submit" value="Buy Now">   
</form> 
