<div class="row">
        <!-- Shopping Cart table -->
    <div class="table-responsive">
    
        <table class="table product-table">
    
            <!-- Table head -->
            <thead class="mdb-color lighten-5">
                    <tr>
                            <th></th>
                            <th class="font-weight-bold">
                            <strong>Product Name</strong>
                            </th>
                            <th class="font-weight-bold">
                            <strong>Brand</strong>
                            </th>
                            <th></th>
                            <th class="font-weight-bold">
                            <strong>Price</strong>
                            </th>
                            <th class="font-weight-bold">
                            <strong>Stock</strong>
                            </th>
                            
                            <th></th>
                        </tr>
            </thead>
            <!-- /.Table head -->
    
            <!-- Table body -->
            <tbody>
    
            <!-- First row -->
            <tr>
                <th scope="row">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" alt="" class="img-fluid z-depth-0">
                </th>
                <td>
                <h5 class="mt-3">
                    <strong>iPhone</strong>
                </h5>
                <p class="text-muted">Apple</p>
                </td>
                <td>White</td>
                <td></td>
                <td>$800</td>
                <h5 class="mt-3">
                    <strong>50000</strong>
                </h5>
                <td>
                <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                    title="Remove item">X
                </button>
                </td>
            </tr>
            <!-- /.First row -->
            <tr>
                    <th scope="row">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" alt="" class="img-fluid z-depth-0">
                    </th>
                    <td>
                    <h5 class="mt-3">
                        <strong>iPhone</strong>
                    </h5>
                    <p class="text-muted">Apple</p>
                    </td>
                    <td>White</td>
                    <td></td>
                    <td>$800</td>
                    <h5 class="mt-3">
                        <strong>50000</strong>
                    </h5>
                    <td>
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                        title="Remove item">X
                    </button>
                    </td>
                </tr>
            </tbody>
            <!-- /.Table body -->
    
        </table>
    </div>
</div>
                
    