<div>
    <app-supplier-nav-bar></app-supplier-nav-bar>
</div>
    
  <div class="card">
      <div class="card-body">
          <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                                            <!-- Card -->
                    <div class="card testimonial-card">

                            <!-- Background color -->
                            <div class="card-up indigo lighten-1"></div>
                        
                            <!-- Avatar -->
                            <div class="avatar mx-auto white">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="woman avatar">
                            </div>
                        
                            <!-- Content -->
                            <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title">Kasun Kumara</h4>
                            <hr>
                            <!-- Quotation -->
                            <h6>Supplier Id - {{user.id}}</h6>
                            <h6>{{user.email}}</h6>
                            <p>Supplier</p>
                            </div>
                        
                        </div>
                        <!-- Card -->
                </div>
          </div>
      </div>
  </div>