<div class="row">
    <div class="col-md-5"></div>
    <div class="card">
        <div class="card-body">
            <div class="card-body">
                    <div>
                            <div class="card-body">
                                <p>cheack your email and enter the varification code </p>
                                        <div class="card-body">
                                            <input type="text" [(ngModel)]="otpCode" placeholder="Enter code "><br><br>
                                                <button (click)="cheackOtp()">Varify code</button>
                                                <p></p>
                                        </div>
                                
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>